{% extends 'base.html' %}

    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}



{% block content %}


{% if categories %}
    <h3>Categories</h3>
    <div class="container-fluid", style="padding: 10px">
        <div class="row">
            <div>
                {%for c in categories%}
                    <a type="button" href="/web/by_category/{{ c.value }}" class="btn btn-primary" style="margin: 2px">{{ c.value }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}

<p class="h1">{{ title }}</p>


    <ul>
    {% for dish in menu %}
        <br>
<!--        <p class="h2">{{ dish['title'] }}</p>-->
        <p class="h2">{{ dish.title }}</p>
        <img src="{{ url_for('static', path='images/' + dish.image) }}" alt="" width="200" height="200">
        <p class="h4">{{ dish.price }}</p>
        <hr>

    {% endfor %}
    </ul>


{% endblock %}